.welcome {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
}

.welcome-button {
    position: absolute;
    height: 32px;
    width: 32px;
    bottom: 64px;
    backdrop-filter: blur(3px);
    border: 0;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 6px;
    font-size: 24px;
    cursor: pointer;
}

.welcome-button i {
    position: relative;
    top: -3px;
    left: -5px;
}

.welcome-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.welcome-button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.welcome h1 {
    font-weight: bold;
    font-size: 64px;
    color: white;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    opacity: 0;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.welcome-animation {
    animation: fadeInOut 3s forwards;
}

.language-select {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 95%;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.language-select i {
    position: absolute;
    color: rgb(0, 102, 255);
    font-size: 256px;
    left: 32px;
}

.language-select-container {
    position: absolute;
    width: calc(100% - 416px);
    height: calc(90% - 64px);
    right: 32px;
    bottom: 64px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.08);
}

.container {
    width: 80%;
    height: calc(100% - 100px);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.2);
    margin: 50px auto;
}

@media (max-width: 768px) {
    .language-select {
        width: 65%;
    }

    .language-select i {
        font-size: 128px;
        left: auto;
        top: 64px;
    }

    .language-select-container {
        width: 80%;
        height: calc(100% - 288px);
        right: auto;
        bottom: 64px;
    }
}

@media (max-width: 480px) {
    .language-select {
        width: 85%;
    }
}